.navbar {
    background-image: linear-gradient(to top, #FC3727 0%, #FFAA05 100%);
    width: 100%;
    margin: 0;
    padding: 0;
}
.logo {
    width: 100px;
}
.navbar-nav .nav-item .nav-link {
    color: #FFF;
}
.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: #FFF;
}
.active {
    color: #FFF;
    font-weight: bold;
}
.d-flex .btn {
    border: 1px solid #FFF;
    color: #FFF;
}
.nav-login {
    color: #FFF;
    padding: 0 20px;
    text-decoration: none;
}
.nav-login:hover {
    color: #FFF;
    font-weight: bold;
}
.container {
    padding: 50px 30px;
    width: 100%;
}
h3 {
    margin-bottom: 50px;
}
.fixed-bottom {
    text-align: center;
    padding: 5px;
    position: relative;
}
.btn__submit {
    margin: 30px 0;
    color: #FC3727;
    border: 1px solid #FC3727;
}

.game {
    display: flex;
    width: auto;
    margin: 10px;
    border: 1px solid #C0C0C0;
    padding: 10px;
    transition-duration: 0.2s;
    background-color: #f5f5f5;
}
.game-list {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    line-height: 19px;
}
.game-title {
    font-weight: bold;
    font-size: 18px;
}

.game-subtitles {
    font-weight: bold;
    sont-size:15px;
}
.prices-container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding-top: 20px;


}
.discount {
    font-weight: lighter;
    font-size: 37px;
    color: #fc4921;
    margin-bottom: 2px;
}
.discount-label {
    font-weight: lighter;
    font-size: 14px;
    color: #fc4921;
    margin-bottom: 20px;
}
.original-price {
    font-weight: lighter;
    font-size: 24px;
    color: #d0d0d0;
    text-decoration:line-through;
    margin-bottom: 34px;
}
.final-price {
    font-weight: bold;
    font-size: 45px;
    color: #000000;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 30px;
}
.btn-success {
    margin-bottom: 20px;
}
.game:hover {
    transform: translate(2px, 2px);
    box-shadow: 5px 2px 2px #fea905;
}
.game .img-container {
    width: 80%;
    height: 145px;
    margin: auto;
}
.game .img-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.game .info {
    margin: 10px 20px;
    font-size: small;
}
.game .buttons {
    margin-top: 10px;
}
.game-filters {
    display: flex;
}
.game-filters li {
    margin: 0 15px;
}