<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo" th:src="@{../img/lg-logo.png}" alt="Legacy Games logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">LEGACY GAMES</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/games/new" tabindex="-1" aria-disabled="true">Add Game</a>
          </li>
        </ul>
        <form class="d-flex" action="/games/search" method="get">
          <input name="word" class="form-control me-2 input-box" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn__outline--white" type="submit">Search</button>
        </form>
        <ul class="nav__login">
        <li class="nav__login--item" sec:authorize="isAuthenticated()">
            <a class="nav__login--link" href="/logout">Log out</a>
          </li>
          <li class="nav__login--item" sec:authorize="isAnonymous()">
            <a class="nav__login--link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>