/*LINKS*/
a {
    text-decoration: none;
}
a:hover {
    color: #FC3727;
}
/*BUTTONS*/
.btn__outline--orange, .btn__outline--white {
    margin: 0 0 20px 0;
    color: #FC3727;
    border: 1px solid #FC3727;
    border-radius: 20px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.btn__outline--white {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    margin: 0;
}
.btn__outline--orange:hover, .btn__outline--white:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
.btn__outline--white:hover {
    background-color: transparent;
    border: 1px solid #FFF;
}
/*NAV BAR*/
.navbar {
    background-image: linear-gradient(to top, #FC3727 0%, #FFAA05 100%);
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 100;
}
.container-fluid {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.navbar-nav .nav-item .nav-link {
    color: #FFF;
    text-transform: uppercase;
    padding: 20px;
}
.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: #FFF;
}
.active {
    color: #FFF;
    font-weight: bold;
}
.search-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex {
    align-items: center;
}
.input-box {
    border: 1px solid #CCC;
    border-radius: 20px;
    font-size: 0.85rem;
    padding: 5px 20px;
    text-align: left;
}
[type="search"]:active {
    outline: none;
    border: none;
    box-shadow: none;
}
.nav__login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.nav__login--item {
    list-style: none;
}
.nav__login--link {
    background-image: url("/img/user.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left;
    text-align: center;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #FFF;
    padding: 20px 40px;
}
.nav__login--item:hover {
    color: #FFF;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
/*MAIN*/
main {
    background-color: rgba(231, 231, 231, 0.3);
}
/*SECTION*/
.section__title {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #000;
}
.intro {
    margin: 0;
    padding: 30px 0;
    width: 100%;
}
/*INTRO-SLIDE*/
.carousel-caption {
    background-color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 40px 0;
    width: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 4rem;
}
.carousel {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.carousel__title {
    margin-bottom: 40px;
    font-size: 2.5rem;
}
/*GAMES SECTION*/
.games {
    display: flex;
    justify-content: space-between;
}
.filters {
    padding: 70px 50px;
    margin: 0;
    width: 400px;
    background-color: #fff;
}
.game__list {
    display: inline;
    padding: 70px;
    width: 100%;
}
.game__item {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 20px;
    transition-duration: 0.2s;
    margin-bottom: 30px;
}
.game__img {
    margin-right: 20px;
}
.game__img img {
    border: 1px solid #CCC;
    border-radius: 20px;
    max-width: 150px;
}
.game__info {
    width: 40%;
    text-align: left;
}
.game__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.game__subtitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.65rem;
}
.game__text {
    text-transform: capitalize;
    font-weight: normal;
}
.game__details {
    border-left: 1px solid #CCC;
    text-align: center;
    padding-left: 20px;
}
.game__prices {
    padding: 20px 0;
    margin-bottom: 20px;
    border-top: 1px solid #fc4921;
    border-bottom: 1px solid #fc4921;
}
.game__prices--discount {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #fc4921;
}
.game__prices--discountLabel {
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #fc4921;
}
.game__prices--discount:after {
    content: " %";
}
.game__prices--original {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #666;
    text-decoration: line-through;
}
.game__prices--original:after {
    content: " €";
}
.game__prices--final {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #000000;
}
.game__prices--final:after {
    content: " €";
}
.game__edit {
    display: flex;
    justify-content: space-between;
}
.game__edit .btn__outline--orange{
    margin: 0 5px;
}
/*EDIT SECTION*/
.addGame {
    margin: 0;
    padding: 110px 0 0;
}
.edit__form {
    display: flex;
    justify-content: space-between;
}
.edit__form--group {
    width: 100%;
    padding: 70px 100px;
}
.addGame__item {
    margin-bottom: 10px;
}
.addGame__label {
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
}
.addGame__btn {
    margin-top: 50px;
}
.add__img--box {
    padding: 70px;
    margin: 0;
    right: 0;
    background-color: #fff;
}
.add__img {
    border: 1px solid #CCC;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    margin: 0 0 50px;
    background-image: url("/img/controller.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px;
    max-width: 250px;
}
.add__img img {
}
.aside__title {
    color: #333333;
    margin: 0 0 20px;
    font-size: 1.75rem;
}
.add__img--label {
    margin-bottom: 30px;
}
input::placeholder {
    border: 1px solid #fc4921;
}
/*FILTERS*/
.filters__list {
    list-style: none;
    padding: 0;
}
.filters__title {
    background-color: #FFF;
    text-transform: uppercase;
    color: #fc4921;
    font-weight: 700;
    width: 100%;
}
.filters__list a {
    color: #666;
    line-height: 2.5rem;
}
.filters__list a:hover {
    color: #fc4921;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
/*FOOTER*/
footer {
    background-color: #333;
    color: #FFF;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}
.fixed-bottom {
    text-align: center;
    position: relative;
    padding-top: 5px;
}
/*FILTERS*/
.filter-group {
    border-bottom: 1px solid #e4e4e4
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.filter-group .card-header {
    border-bottom: 0
}
.icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%
}
.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0
}
.list-menu a {
    color: #343a40
}
a {
    text-decoration: none !important;
    background-color: transparent;
}
.checkbox-btn {
    position: relative
}
.checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox-btn input:checked~.btn {
    border-color: #fc4921;
    background-color: #fc4921;
    color: #000;
}
.btn-light {
    display: inline-block;
    font-weight: 600;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 0.45rem 0.85rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.37rem;
}
.btn-light:hover {
    background-color: #000;
    border-color: #989898;
}
.btn-medium {
    font-size: 12px;
    padding: 10px 22px;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid #fc4921;
    width: 100%;
}
.highlight-button:hover {
    background-color: #fc4921;
    border: 2px solid #fc4921;
    color: #000;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}