<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!--<header th:replace="fragments/header"></header>-->
    <section class="card__container">
        <div class"card__item">
            <div class="card__title" th:each="game: ${games}">
                <div class="card__img"><img src="https://i.imgur.com/QpjAiHq.jpg"></div>
                <div class="card__features">
                    <h5 th:text="${game.title}">Mark</h5>
                    <h6>Platform:</h6>
                    <p th:text="${game.platform}" class="card__text">Mark<br><br></p>
                    <h6>Year:</h6>
                    <p th:text="${game.yearr}" class="card__text">Mark<br><br></p>
                    <h6>Category:</h6>
                    <p th:text="${game.category}" class="card__text">Mark<br><br></p>
                    <h6>Publisher:</h6>
                    <p th:text="${game.publisher}" class="card__text">Mark<br><br></p>
                    <h6>PEGI</h6>
                    <p th:text="${game.PEGI}" class="card__text">Mark<br><br></p>
                    <h6>PEGIcontent</h6>
                    <p th:text="${game.PEGIcontent}" class="card__text">Mark<br><br></p>
                </div>
                <div class="card__prices">
                    <h4 th:text="${game.offer}" class="mr-1">Mark</h4><span th:text="${game.cost}" class="strike-text">Mark</span>
                </div>
                <div class="card__buttons">
                    <a class="btn btn-success btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>