<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!--<header th:replace="fragments/header"></header>-->
    <section class="container">
        <h1 th:text="${title}"></h1>
        <div class="game-list">
            <div class="game" th:each="game: ${games}">
                <div class="info">
                    <div class="game-title" th:text="${game.title}">Mark</div>
                    <div th:text="${game.platform}">Mark</div>
                    <div th:text="${game.yearr}">Mark</div>
                    <div th:text="${game.category.name}">Mark</div>
                    <div th:text="${game.publisher}">Mark</div>
                    <div class="final-price" th:text="${game.offer}">Mark</div>
                    <div class="original-price" th:text="${game.cost}">Mark</div>
                    <div th:text="${game.PEGI}">Mark</div>
                    <div th:text="${game.PEGIcontent}">Mark</div>
                </div>
                <div class="buttons">
                    <a class="btn btn-success btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>